@import "tailwindcss";

html {
    scroll-behavior: smooth;
    padding: 2%;
}

* {
    font-family: "Playfair Display", serif;
  }

  .pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
  }